<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet" >
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center fixed-top">
      <div class="container-fluid ">
        <div class="navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="users">All Customers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
      <div class="bg-image"
      style="
        background-image: url('/images/bank.jpg');
        height: 100vh;
        background-size: cover;
        ">
        <br><br><br><br><br>
       <h3 class="text-center"> 
        Welcome to <%= title %> </h3>
        <br><br><br>
        <h5 class="text-center"> Where users deposit their money; A place where move is transfered and this process keeps money moving through the system.</h5>
      </div> 
    </div>



    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  <!-- Section: Links  -->
  <section class="" style="background-color: rgba(0, 0, 0, 0.05); ">
    <div class="container text-center text-md-start pt-3" >
      <!-- Grid row -->
      <div class="row mt-1">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-diamond"></i> <%= title %>
          </h6>
          <p>
            Created by 'Siddhi Padmakshan' as a project for 'GRIP Foundation'. Where users deposit their money; A place where money is transfered and this process keeps money moving through the system.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Debit card</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Credit card</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Certificate of deposit (CD)</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Money market account (MMA)</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Home Loans</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Car Loans</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Foreign Exchange Services</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fa fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            simplebank@gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.10);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="http://localhost:5555/"><%= title%></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  </body>
</html>
