.bg-image {
  filter: blur(2px);
  transition: filter 1s, linear 1s;
}

.bg-image:hover {
  filter: blur(0px);
  transition: filter 1s, linear 1s;
}

h3 {
  margin: 0 auto;
  text-align: center;
  color: beige;
  font-size: 6em;
  transition: 0.5s;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  margin: 0 auto;
  color: beige;
  font-size: 1.5em;
  transition: 0.5s;
}

h6 {
  margin: 0 auto;
  color: white;
  font-size: 1.3em;
  transition: 0.5s;
}

h3:hover, h5:hover, h6:hover {
  text-shadow: 0 0px 0 #4b4b4b56, 0 0.5px 0 #4b4b4b56,
    0 1px 0 #4b4b4b56, 0 1.5px 0 #4b4b4b56,
    0 2px 0 #4b4b4b56, 0 3px 0 #4b4b4b56,
    0 4px 0 #4b4b4b56, 0 5px 0 #4b4b4b56,
    0 6px 0 #4b4b4b56, 0 7px 0 #4b4b4b56,
    0 8px 0 #4b4b4b56, 0 9px 0 #4b4b4b56,
    0 20px 30px rgba(0, 0, 0, 0.5);
}


/* h6:hover {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc,
    0 7px 0 #ccc, 0 8px 0 #ccc,
    0 9px 0 #ccc, 0 10px 0 #ccc,
    0 11px 0 #ccc, 0 12px 0 #ccc,
    0 20px 30px rgba(0, 0, 0, 0.5);
} */